body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #4cb550;
  --color-secondary: #13aa52;
  --color-white: #fff;
}

.image-banner {
  display: flex;
  height: 35vh;
}

.hero-section {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.header {
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
}

.section-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
}

.subheader {
  text-align: center;
  margin: 0;
}

.icon-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
}

img {
  width: 100%;
}

.icon-banner {
  display: flex;
  margin: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  padding: 15px 50px;
  text-align: center;
  margin: 1rem;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

form {
  width: 600px;
}

.info-section {
  background-color: #f0f0f0;
  padding: 1rem;
}

.info-paragraph {
  margin: 0 10rem;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placeholder {
  position: absolute;
  top: 10px;
  left: 8px;
  transition: 0.2s;
  pointer-events: none;
}

#form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.input {
  padding: 10px;
  width: 100%;
  outline: none;
}

.input-group {
  margin: 1.5rem 0;
  position: relative;
}

input:focus + .placeholder,
input:hover + .placeholder,
input:valid + .placeholder {
  top: -20px;
  background-color: var(--color-white);
}

@media (max-width: 767px) {
  .hero-section {
    margin: 0;
  }
  form {
    width: 300px;
  }
  .icon-container {
    padding: 1rem 2rem;
  }

  .info-paragraph {
    margin: 0 1rem;
  }

  .input-container {
    flex-direction: column;
    align-items: center;
  }

  .info-section {
    padding: 0.5rem;
  }
}

@media (min-width: 1000px) {
  .icon-img {
    height: 10rem;
  }
}

@media (max-width: 414px) {
  form {
    width: 200px;
  }
  .icon-container {
    padding: 0.5r=rem;
  }

  textarea {
    width: 70%;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-img {
    height: 3rem;
  }
}
